@{
    ViewData["Title"] = "Insere Cliente";
}

<h1>INSERIR CLIENTE</h1>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu nome">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Telefone</label>
    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="(11) 99999-9999">
</div>

<button type="button" class="btn btn-primary">Voltar</button>
<button style="float: right;" type="button" class="btn btn-primary">Criar</button>