@{
    ViewData["Title"] = "Lista de Clientes";
}

<div class="text-center">
    <h1>LISTA DE CLIENTES</h1>
    <a role="button" class="btn btn-primary">Inserir</a>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>mark@email.com</td>
      <td>(11)98061-1234</td>
      <td>
           <div class="btn-group" role="group">
               <a role="button" class="btn btn-primary">Atualizar</a>
               <a role="button" class="btn btn-danger">Deletar</a>
           </div>
      </td>
    </tr>       
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>mark@email.com</td>
      <td>(11)98061-1234</td>
      <td>
           <div class="btn-group" role="group">
               <a role="button" class="btn btn-primary">Atualizar</a>
               <a role="button" class="btn btn-danger">Deletar</a>
           </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>mark@email.com</td>
      <td>(11)98061-1234</td>
      <td>
           <div class="btn-group" role="group">
               <a role="button" class="btn btn-primary">Atualizar</a>
               <a role="button" class="btn btn-danger">Deletar</a>
           </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
